/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}
.text-orange{
    color: #FF5400;
}

/* Nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 50px;
}



nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #424247;
}

.header-logo{
    display: flex;
    justify-content: space-between;
}

.header-img{
    position: absolute;
    left: 1%;
}

.header-img , 
.header-title{
    font-size: 36px;
}
.header-icon{
    width: 20%;
    height: 50%;
    padding-top: 35px;
}

/* Explore Your Travel styles */


.banner > .banner-title , .banner-paragraph , .banner-input{
    position: absolute;
}
.banner img{
    margin-left: 100px;
}

.banner-title{
    
    top: 30%;
    left: 25%;
    font-size: 64px;
    color: #FFFFFF;
}
.banner-paragraph{
    top: 45%;
    left: 25%;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 100px;
    text-align: center;
}

.banner-input{
    top: 60%;
    left: 5%;
    
    width: 800px;
    height: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 250px;

    padding-top: 45px;
    padding-left: 25px;
    gap: 24px; 
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
}


input{
    border-radius: 8px;
    width: 174px;
    height: 52px;
    
    border: none;
    margin-bottom: 100px;
    font-size: 16px;
    
    
}

.banner-input > .input5 , .input6 , .input7 {
    color: #13131880;
    background: #FFFFFF;
}
.banner-input > .find-now-btn{
    background: #FF5400;
    color: #FFFFFF;
}

/* Go beyond your imagination styles */
.imagination{
    display: flex;
    margin: 0px 100px;
    padding-top: 100px;
}
.imagination-text{
    margin-top: 60px;
    font-weight: 400;
}
.imagination-text > h1{
    font-size: 36px;
}
.imagination-text > p{
    font-size: 18px;
}
.section-title{
    padding-bottom: 5px;
    border-bottom: 1px solid #FF5400;
}
.imagination > img{
    width: 261px;
    padding: 0px 12px;
}
.imagination-img-text1, .imagination-img-text2, .imagination-img-text3{
    position: absolute;
    top: 145%;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
} 
.imagination-img-text1{
    right: 53%;
}
.imagination-img-text2{
    right: 34%;

}
.imagination-img-text3{
    right: 13%;
}

/* Popular Tours styles */
.popular-tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 50px 100px;
    line-height: 26px;
}

.popular-tours-title {
    font-size: 40px;
}

.popular-tours p {
    margin: 24px 0px;
} 

.popular-tours li{
    margin: 16px 0px;
}



.btn-primary{
    background-color: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
}

/* Choose Your Destination styles */

.destination{
    text-align: center;
}

.destination-title{
    font-size: 40px;
}

div > img{
    margin: 1.25rem;
}

.image-with-text{
    position: relative;
}

.image-with-text h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 800;
}

.maldives{
    top: 15%;
    left: 25%;
}

.indonesia{
    top: 15%;
    left: 75%;
}
.srilanka{
    top: 50%;
    left: 20%;
}
.north-america{
    top: 50%;
    left: 55%;
}
.kashmir{
    top: 50%;
    left: 85%;
}
.bangladesh{
    top: 80%;
    left: 25%;
}
.bandarban{
    top: 80%;
    left: 70%;
}


/* Why Choose Us styles */

.choose-us{
    text-align: center;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}



.row{
    display: flex;
    justify-content: center;
}



.box1{
    width: 573px;
    height: 284px;
    margin: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}
.box1 > p{
    line-height: 26px;
}

.box2{
    width: 573px;
    height: 284px;
    margin: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}
.box2 > p{
    line-height: 26px;
}
.box3{
    width: 573px;
    height: 284px;
    margin: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}
.box3 > p{
    line-height: 26px;
}


/* Deals & Discounts styles */

.deals-discounts{
   text-align: center;
}

.deals-discounts > img{
    margin: 24px;
}

.image-info1{
    position: absolute;
    width: 579px;
    height: 389px;
    left: 630px;
    top: 3900px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    
}

.img-info-heading{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 7%;

}
.img-info-heading > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    margin-right: 80px;
}

.image-info1 h1{
    text-align: left;
    padding-left: 50px;
}
.image-info1 p{
    text-align: left;
    padding-left: 50px;
}

.price{
    
    color: rgb(255, 84, 0);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.image-info1 > button {
    position: absolute;
    left: 8%;
}

.image-info2{
    position: absolute;
    width: 579px;
    height: 389px;
    left: 150px;
    top: 4450px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    
}

.image-info2 h1{
    text-align: left;
    padding-left: 50px;
}
.image-info2 p{
    text-align: left;
    padding-left: 50px;
}

.image-info2 > button {
    position: absolute;
    left: 8%;
}
.image-info3{
    position: absolute;
    width: 579px;
    height: 389px;
    left: 630px;
    top: 5000px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    
}

.image-info3 h1{
    text-align: left;
    padding-left: 50px;
}
.image-info3 p{
    text-align: left;
    padding-left: 50px;
}


.image-info3 > button {
    position: absolute;
    left: 8%;
}

/* simple perfect place styles */
.simple-perfect-place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 50px 100px;
    line-height: 26px;
    
}

.popular-tours-title {
    font-size: 40px;
    line-height: 60px;
}
.simple-perfect-place p{
    margin: 24px 0px;
} 

.simple-perfect-place li{
    margin: 16px 0px;
    font-weight: 700;
}

/* Newsletter styles */
.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    gap: 5px;
}

.subscribe-field{
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    
}
.subscribe-field > p, h3 {
    margin: 20px 50px;
}
.newsletter-title{
    font-size: 24px;
    font-weight: 800;
}

.newsletter-text{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
}

.subscribe-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.subscribe-input > input{
    width: 393px;
    height: 52px;
    left: 175px;
    border-radius: 8px;
    margin: 10px 40px;
}
.subscribe-input > .input1 , .input2 {
    background: rgba(19, 19, 24, 0.05);
}
.subscribe-btn{
    background:  #FF5400;
    color: #FFFFFF;
}
.save-up-to-badge{
    background: rgb(255, 84, 0);
    position: absolute;
    width: 300px;
    height: 100px;
    left: 980px;
    /* right: 156px; */
    top: 6342px;
    transform: rotate(-19.63deg);
    border-radius: 16px;
    text-align: center;
}

.save-up-to-badge p, h2{
    position: absolute;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-up-to-badge h2{
    top: -6%;
    left: 27%;
}

.save-up-to-badge p{
    top: 10%;
    left: 10%;
    font-size: 32px;
    font-weight: 800;
}

/* footer section style  */

.footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 500px;
    margin-left: 540px;
}

.footer-img{
    position: absolute;
    left: 37%;
}


.footer h3{
    font-size: 32px;
    font-weight: 800;
}



.footer p{
    top: 90%;
}

.social-icon{
    padding-top: 30px;

}

.copyright{

    padding-top: 20px;
    padding-bottom: 110px;
    border-top: 1px solid rgba(19, 19, 24, 0.1);
    
    
}




/* responsive styles */

/* mobile device or small device */

@media screen and (max-width:600px) {
    
}

/* pc or large device  */

@media screen and (min-width:992px) {
    
}